@use './_styles/settings' as *;
@use "sass:map";

body.notFound {
  #heroNotFound {
    h1, h2, a {
      position: absolute;
      top: 50%;
      left: 50%;
      font: 100 3vw/1.1 $font;
      color: $dark;
      display: block;
      margin: 0;
      text-align: center;
      @media #{map.get($breakpoints, 'xxl')} {
        font: 100 4vw/1.1 $font;
      }
      @media #{map.get($breakpoints, 'lg')} {
        font-weight: 200;
      }
      @media #{map.get($breakpoints, 'lsm')} {
        font-size: 6vw;
      }
      @media #{map.get($breakpoints, 'ls')} {
        font-size: 3vw;
      }
    }
    a {
      @media #{map.get($breakpoints, 'desktop')} {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        text-decoration-style: wavy;
        text-decoration-color: rgba($dark, .2);
        text-underline-offset: 20px;
      }
      @media #{map.get($breakpoints, 'md')} {
        font-size: 5vw;
        line-height: 1.5;
      }
      @media #{map.get($breakpoints, 'lsm')} {
        font-size: 8vw;
      }
    }
  }
}